.fetchDishesButton {
  margin: 10px 0px;
  padding: 0px 5px;
  width: 100%;
  height: 50px;
  background-color: #4f290861;
  border: 0;
  color: white;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3), 0 5px 5px rgba(0, 0, 0, 0.22);
}
