header {
  height: 10vh;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #e59a59;
}

.appName {
  font-size: 4rem;
  font-family: "Barlow", sans-serif;
  letter-spacing: 5px;
  font-weight: 500;
  font-style: normal;
  color: white;
}

.githubLink {
  color: #ffd8a666;
  position: absolute;
  right: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
}

.time {
  position: absolute;
  left: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
  color: #ffd8a6fd;
}
